# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.eep
*.hex
*.lss
*.map
*.sym
*.d

# IDE
*.atsuo
**/Debug

*.bin